In [2]:
students = ["ahsan",'asad','amna','hamid']
#index         0       1     2       3
students

['ahsan', 'asad', 'amna', 'hamid']

In [4]:
newList = []

In [5]:
newList . append(23)

In [7]:
cities = []

In [10]:
cities = ["karchi",'lahore','islamabad','karachi']
#index       0         1         2         3
cities

['karchi', 'lahore', 'islamabad', 'karachi']

In [11]:
cities.append('karchi')
cities

['karchi', 'lahore', 'islamabad', 'karachi', 'karchi']

In [87]:
cities.remove('karachi',0)
cities

TypeError: remove() takes exactly one argument (2 given)

In [1]:
marks = [46, 3, 78, 89, 99]

In [2]:
marks.sort() # shift + tab
marks

[3, 46, 78, 89, 99]

In [18]:
marks.sort(reverse=True)# to sort list in decending order
marks

[99, 89, 78, 46, 3]

In [23]:
List2 = marks
List2

[99, 89, 78, 46, 3]

In [24]:
del marks[2]
List2

[99, 89, 46, 3]

In [26]:
List3 = List2.copy()

In [27]:
List3

[99, 89, 46, 3]

In [28]:
List2

[99, 89, 46, 3]

In [36]:
del marks[2]
List3

IndexError: list assignment index out of range

In [22]:
cities.sort(reverse=True)
cities

['lahore', 'karchi', 'karchi', 'karachi', 'islamabad']

In [34]:
List2.reverse()
List2

[89, 99]

In [35]:
List2.clear()
List2

[]

pop up (recover the delete value)

In [3]:
numbers = [29, 67, 45, 3, 89, 90]

In [4]:
x = numbers.pop()
print(x)
print(numbers)

90
[29, 67, 45, 3, 89]

single value

In [5]:
numbers = [29,67,45,3,89,90]

In [6]:
poppedList = []

In [7]:
poppedElement = numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppedList)

[29, 67, 45, 3, 89]
[90]

In [8]:
poppedElement = numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppedList)

[29, 67, 45, 3]
[90, 89]

In [9]:
if len(numbers) !=0:
    poppedList.append(numbers.pop())
    print(poppedList)
else:
    print('Your List is Empty')

[90, 89, 3]

In [59]:
List3 = [46,89,26,3,90]

In [9]:
def add_two_numbers():
    a = 12
    b = 34
    c =(a+b)
    print(c)

In [60]:

len(List3)# to find lenth of list

5

In [61]:
if len(numbers) !=0:
    poppesList.append(numbers.pop())
    print(poppedList)
else:
    print('Your List is Empty')

Your List is Empty

# List in List

In [67]:
List4 = [19,89,['apple','banana','orange']]
List4

[19, 89, ['apple', 'banana', 'orange']]

In [68]:
List4[2][2]

'orange'

In [73]:
List4[0]

19

In [74]:
List4[2][1]

'banana'

# Slicings

In [105]:
fruits = ['orange','peach','apple','mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [106]:
students

['ahsan', 'asad', 'amna', 'hamid']

In [107]:
abc = [students, fruits]
abc

[['ahsan', 'asad', 'amna', 'hamid'], ['orange', 'peach', 'apple', 'mango']]

In [108]:
abc = [23,89,3,students,fruits, 'abcd']
abc

[23,
 89,
 3,
 ['ahsan', 'asad', 'amna', 'hamid'],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [109]:
abc[4].remove('apple')
abc

[23,
 89,
 3,
 ['ahsan', 'asad', 'amna', 'hamid'],
 ['orange', 'peach', 'mango'],
 'abcd']

In [10]:
#index  -6   -5 -4 -3 -2  -1
numbers=[29, 67, 45, 3, 89, 90]
#index   0   1   2  3   4   5

In [11]:
numbers[-5]

67

In [12]:
numbers[1:3] # [included : not included]

[67, 45]

In [13]:
numbers[2:5]

[45, 3, 89]

In [14]:
numbers[1:5:2]

[67, 3]

In [124]:
print(numbers)

[29, 67, 45, 3, 89, 90]

In [127]:
print(numbers)
numbers[1:5:2]

[29, 67, 45, 3, 89, 90]

[67, 3]

In [128]:
numbers[:6]

[29, 67, 45, 3, 89, 90]

In [131]:
numbers[3:]

[3, 89, 90]

In [132]:
numbers[::2]

[29, 45, 89]

In [133]:
numbers[5:3] # slicing direction left to right and left to right will be negative

[]

In [134]:
numbers[-5:-1]

[67, 45, 3, 89]

In [136]:
print(numbers)
numbers[-1:-5]

[29, 67, 45, 3, 89, 90]

[]

In [135]:
numbers[-1:-8:-1]

[90, 89, 3, 45, 67, 29]

TUPPLES

In [12]:
#TUPPLES ARE IMMUTABLE#

In [12]:
mytupple = (3,4,5,6,7)
add_two_numbers()

46

In [18]:
type(mytupple)

tuple

In [19]:
len(mytupple)

5

In [21]:
mytupple[0]

3

In [22]:
a=("asas","fahad","uzma","asma")
#packing

In [24]:
w,x,y,z=a

In [25]:
x

'fahad'

In [26]:
y

'uzma'

In [28]:
z

'asma'

In [38]:
rectangle=[100,200]

In [39]:
height, width = rectangle

In [40]:
height

100

FOR LOOPS
(MULTYPLE TYPE WORK)

In [43]:
#TSAK PRINT YOUR NAME TEN TIMES
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")
print("SANA JAMIL")

SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL
SANA JAMIL

In [44]:
for a in range(10):
    print(a,"Sana Jamil")

0 Sana Jamil
1 Sana Jamil
2 Sana Jamil
3 Sana Jamil
4 Sana Jamil
5 Sana Jamil
6 Sana Jamil
7 Sana Jamil
8 Sana Jamil
9 Sana Jamil

In [45]:
for a in range(10):
    print("Sana Jamil")

Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil
Sana Jamil

In [47]:
for b in range(5):
    print(b,"a","b","c","d")

0 a b c d
1 a b c d
2 a b c d
3 a b c d
4 a b c d

In [50]:
for a in range(2,5):
     print(a,"Sana Jamil")

2 Sana Jamil
3 Sana Jamil
4 Sana Jamil

In [51]:
for a in range(1,10,2):
    print(a,"Sana Jamil")

1 Sana Jamil
3 Sana Jamil
5 Sana Jamil
7 Sana Jamil
9 Sana Jamil

In [52]:
for a in range(0,10,2):
    print(a,"Sana Jamil")

0 Sana Jamil
2 Sana Jamil
4 Sana Jamil
6 Sana Jamil
8 Sana Jamil

In [53]:
for a in range(10,1,-2):
    print(a,"Sana Jamil")

10 Sana Jamil
8 Sana Jamil
6 Sana Jamil
4 Sana Jamil
2 Sana Jamil

In [57]:
for a in range(10,1,-1):
    print(a,"Sana Jamil")

10 Sana Jamil
9 Sana Jamil
8 Sana Jamil
7 Sana Jamil
6 Sana Jamil
5 Sana Jamil
4 Sana Jamil
3 Sana Jamil
2 Sana Jamil

In [60]:
for a in range(10,0,-1):
    print(a,"Sana Jamil")

10 Sana Jamil
9 Sana Jamil
8 Sana Jamil
7 Sana Jamil
6 Sana Jamil
5 Sana Jamil
4 Sana Jamil
3 Sana Jamil
2 Sana Jamil
1 Sana Jamil

In [64]:
my_list = ["jhone", "adda","lovelece"]
for i in my_list:
    print(i)

jhone
adda
lovelece

In [65]:
my_name = [2,4,5,8,10]
for i in my_name:
    print(i*2)

4
8
10
16
20

In [71]:
my_num = [2,4,5,8,10]
my_new_list = []
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [74]:
for i in range(21):
    print(i)
    if i ==10:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
20
11
12
13
14
15
16
17
18
19
20

In [75]:
#break key word
#continue
#pass

In [77]:
for i in range(9):
    if i==3:
        break
    print(i)

0
1
2

In [2]:
for i in range(9):
    if i==3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [88]:
for i in range(5):
    pass

In [89]:
#take input from user and print table of that number in the following format
#2 X 1 = 2

In [1]:
for a in "pakistan":
     for b in range(5):
        print(a,b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [14]:
f_name = ["blueray", "upchuck", "lojack","gizmo","Do-rag"]
l_name=["Zzz","Burp","Dogbone","Droop"]
full_name = []
for f in f name:
    for l in l name:
        full_name.append(f + " " + l)
    full_name

SyntaxError: invalid syntax (<ipython-input-14-037b3be1617d>, line 4)

#Changing case

In [8]:
sl_str="pakistan zindabad"
len(sl_str)

17

In [10]:
sl_str[5:11]

'tan zi'

In [12]:
sl_str[5:]

'tan zindabad'

#Dictionaries

dictionary works on key values pair

In [22]:
#difinition
adict ={}

In [31]:
type(adict)

dict

In [37]:
len(adict)

2

In [33]:
adict['name']="hamza khan"
adict['age']=34
adict['contact']=45645789

In [42]:
adict["age"]

KeyError: 'age'

In [40]:
del adict["age"]

KeyError: 'age'

In [36]:
adict

{'name': 'hamza khan', 'contact': 45645789}

In [43]:
bdict = {'city':'khi',"pop":"30ml"}
#          key    value  k    v
bdict

{'city': 'khi', 'pop': '30ml'}

In [44]:
bdict["hello"]=1234567
bdict[100]="hundred"
bdict

{'city': 'khi', 'pop': '30ml', 'hello': 1234567, 100: 'hundred'}

#adding vlaue to dictionary

loop on dictionary

In [46]:
adict["age"]=34
adict

{'name': 'hamza khan', 'contact': 45645789, 'age': 34}

#keys,
#values
#iems

In [49]:
for key in adict.keys():
    print(key)

name
contact
age

In [52]:
for val in adict.values():
    print(val)

hamza khan
45645789
34

In [54]:
for k,v in adict.items():
    print(k,v)

name hamza khan
contact 45645789
age 34

In [55]:
for k in adict.items():
    print(k)

('name', 'hamza khan')
('contact', 45645789)
('age', 34)

w3schools.com (websites)

34-creating list of dictionary

In [56]:
eklist = [23,45,6,{"fruit":"apple","food":"biryani"}]

In [57]:
eklist[3]

{'fruit': 'apple', 'food': 'biryani'}

In [58]:
eklist[3]['food']

'biryani'

In [59]:
"age" in adict

True

creating a list of dictionaries

In [4]:
a = [{1: 200},{2: 300},{3: 400}]

Functions

In [7]:
# we use functions for reuseability of code.

In [8]:
a = 12
b = 34
c = a+b
print(c)

46

In [24]:
#function definition
def funcName():
    '''unparametrized function'''
    print("i am a function")

In [15]:
# function calling
funcName()

i am a function

In [19]:
def greeting(name):# parameter of function
    '''it is parameterlized function'''
    print(f" your are welcome {name}")

In [21]:
greeting("ali") # argument

 your are welcome ali

In [22]:
greeting("asad")

 your are welcome asad

In [23]:
greeting("sana")

 your are welcome sana

In [25]:
def greeitn(name):
    print(f"Eid mubarak{name}")

In [26]:
greeitng("sana")

NameError: name 'greeitng' is not defined

In [27]:
#definition an function with name sum it has two parameters 
# a,b
# in body these two parameter will be added and stored 
# in a_c
#print the value in function
#calling
#call the function by giving two argument

In [28]:
a = 20
b = 30
a_c = (a+b)
print(a_c)

50

In [32]:
def sum(a,b):
    c = (a+b)
    print(f"the sum is {c}")

In [33]:
sum(100,200)

the sum is 300

In [34]:
sum(2,5)

the sum is 7

In [35]:
sum(100,500)

the sum is 600

In [36]:
# first name and last name

In [44]:
def givemefullName(firstName,middleName,LastName):
    fullName = f"{firstName} {middleName} {LastName}"
    print(fullName)

In [45]:
givemefullName("Sana", 'Jamil', 'Ahmed')#positonal arguments

Sana Jamil Ahmed

In [48]:
givemefullName(middleName="Jamil",firstName= "sana",LastName= "ahmed") #key word argument

sana Jamil ahmed

In [49]:
#default parameter

In [59]:
def givemefullName(firstName,LastName,middleName="nil"):
    fullName = f"{firstName} {middleName} {LastName}"
    print(fullName)

In [60]:
givemefullName("asad", "khan")

asad nil khan

In [64]:
def givemefullName(firstName="nil",LastName="nil",middleName="nil"):
    fullName = f"{firstName} {middleName} {LastName}"
    print(fullName)

In [66]:
givemefullName()

nil nil nil

In [ ]:
#local variable ======>scope =====>within function
#globla variable=======>scope====>everywhere in the code

In [77]:
def sub(u,v):
    w=u-v
    return(w)
    print("abcd")#no line will be execute after return

In [76]:
result = sub(200,100)
print(result)

100

In [87]:
result = (200,300)
print(result*2)

(200, 300, 200, 300)

In [93]:
def sub(u,v):
    global q
    q= " I am a local global"
    w=u-v
    return(w)
print(sub(15,4),q)

11  I am a local global